h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,235,205);
    font-size: 60px;
    letter-spacing: 10px;
    line-height: 30px;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,235,205);
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 6px;
    line-height: 30px;
  }
  
  
  body{
    background:indianred;
    text-align: center;
    margin: 30px;
  }
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
